@font-face {
  font-family: 'Gelion-black';
  src: local('Gelion'), url(./fonts/Gelion-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Gelion-Regular';
  src: local('Gelion'), url(./fonts/Gelion-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gelion-Semibold';
  src: local('Gelion'), url(./fonts/Gelion-SemiBold.ttf) format('truetype');
}

::-webkit-scrollbar {
  width: .5em;
  z-index: 60;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  color: #ffffff;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(209, 204, 204);
  border-radius: .6em;
  overflow: hidden;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgb(145, 141, 141);
  overflow-y: scroll;
}